<!-- Main Header -->
<header class="header-main" role="banner">
  <div class="container">
    <nav class="navbar" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand text-hide" href="index.html" title="{{ page.title }}">Frontflow: Front-End Workflow
            for effective, rapid &amp; Front-End Development</a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</header>
