html,body{
  height:100%;
  $body-copy-color: #444;
}

// sticky footer
.wrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -90px;
}

.push,footer{
  height: 90px;
  // @media (max-width: 480px){
  //   height:80px;
  // }
}
