// # General Styles
// applied on Front-End Workflow Demo Template.
html,body{
  height:100%;
  background-color: $ff-body-background;
}

// **Sticky footer**
.wrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -90px;
}
.push,footer{
  height: 90px;
}

.row{
  margin-top: em(40);
  margin-bottom: em(40);
}
