html,body{
  height:100%;
  $body-copy-color: #444;
}

// Sticky footer
.wrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -90px;
}

.push,footer{
  height: 90px;
}
