// # Grid Components
// Example originally copied from Twitter Bootstrap [Grid System Example](http://getbootstrap.com/css/#grid "Twitter Bootstrap Grid System").
.grid-components{
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  h4 {
    margin-top: 25px;
  }
  .row {
    margin-bottom: 20px;
  }
  .row .row {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }

}
