.header-main{
  background-color: $ff-nav-background;
  nav.navbar{
    text-decoration: none;
    border: none;
    font-family: "Arvo";
    font-weight: 400;
    font-style: normal;
    margin:0;
    ul > li > a{
      color: $ff-flat-navy;
    }
  }
}

.navbar-brand{
  @include size(246px 37px);
  background-image: url(../img/frontflow-logo.png);
  background-repeat: no-repeat;
  background-size: 246px 37px;
  display: block;
}


