header.page-header{
  text-align: center;
  padding: 4em 0;
  background-color:$ff-page-header-background;
  margin:0;

  .header{
    margin-bottom: 3em;
  }
  p{
    display: block;
    text-align: center;
    width:80%;
    margin:0 auto;
  }
}
