/***

   colors.css v2.0.0
   http://clrs.cc
   @mrmrs
   MIT License

***/
/*

   SKINS
   - Backgrounds
   - Colors
   - Border colors
   - SVG fills
   - SVG Strokes

*/
/* Backgrounds */
/* line 15, ../../scss/colors/_skins.scss */
.bg-navy {
  background-color: #001F3F; }

/* line 16, ../../scss/colors/_skins.scss */
.bg-blue {
  background-color: #0074D9; }

/* line 17, ../../scss/colors/_skins.scss */
.bg-aqua {
  background-color: #7FDBFF; }

/* line 18, ../../scss/colors/_skins.scss */
.bg-teal {
  background-color: #39CCCC; }

/* line 19, ../../scss/colors/_skins.scss */
.bg-olive {
  background-color: #3D9970; }

/* line 20, ../../scss/colors/_skins.scss */
.bg-green {
  background-color: #2ECC40; }

/* line 21, ../../scss/colors/_skins.scss */
.bg-lime {
  background-color: #01FF70; }

/* line 22, ../../scss/colors/_skins.scss */
.bg-yellow {
  background-color: #FFDC00; }

/* line 23, ../../scss/colors/_skins.scss */
.bg-orange {
  background-color: #FF851B; }

/* line 24, ../../scss/colors/_skins.scss */
.bg-red {
  background-color: #FF4136; }

/* line 25, ../../scss/colors/_skins.scss */
.bg-fuchsia {
  background-color: #F012BE; }

/* line 26, ../../scss/colors/_skins.scss */
.bg-purple {
  background-color: #B10DC9; }

/* line 27, ../../scss/colors/_skins.scss */
.bg-maroon {
  background-color: #85144B; }

/* line 28, ../../scss/colors/_skins.scss */
.bg-white {
  background-color: #fff; }

/* line 29, ../../scss/colors/_skins.scss */
.bg-gray {
  background-color: #aaa; }

/* line 30, ../../scss/colors/_skins.scss */
.bg-silver {
  background-color: #ddd; }

/* line 31, ../../scss/colors/_skins.scss */
.bg-black {
  background-color: #111; }

/* Colors */
/* line 36, ../../scss/colors/_skins.scss */
.navy {
  color: #001F3F; }

/* line 37, ../../scss/colors/_skins.scss */
.blue {
  color: #0074D9; }

/* line 38, ../../scss/colors/_skins.scss */
.aqua {
  color: #7FDBFF; }

/* line 39, ../../scss/colors/_skins.scss */
.teal {
  color: #39CCCC; }

/* line 40, ../../scss/colors/_skins.scss */
.olive {
  color: #3D9970; }

/* line 41, ../../scss/colors/_skins.scss */
.green {
  color: #2ECC40; }

/* line 42, ../../scss/colors/_skins.scss */
.lime {
  color: #01FF70; }

/* line 43, ../../scss/colors/_skins.scss */
.yellow {
  color: #FFDC00; }

/* line 44, ../../scss/colors/_skins.scss */
.orange {
  color: #FF851B; }

/* line 45, ../../scss/colors/_skins.scss */
.red {
  color: #FF4136; }

/* line 46, ../../scss/colors/_skins.scss */
.fuchsia {
  color: #F012BE; }

/* line 47, ../../scss/colors/_skins.scss */
.purple {
  color: #B10DC9; }

/* line 48, ../../scss/colors/_skins.scss */
.maroon {
  color: #85144B; }

/* line 49, ../../scss/colors/_skins.scss */
.white {
  color: #fff; }

/* line 50, ../../scss/colors/_skins.scss */
.silver {
  color: #ddd; }

/* line 51, ../../scss/colors/_skins.scss */
.gray {
  color: #aaa; }

/* line 52, ../../scss/colors/_skins.scss */
.black {
  color: #111; }

/* Border colors 

   Use with another border utility that sets border-width and style 
   i.e .border { border-width: 1px; border-style: solid; }     
*/
/* line 61, ../../scss/colors/_skins.scss */
.border--navy {
  border-color: #001F3F; }

/* line 62, ../../scss/colors/_skins.scss */
.border--blue {
  border-color: #0074D9; }

/* line 63, ../../scss/colors/_skins.scss */
.border--aqua {
  border-color: #7FDBFF; }

/* line 64, ../../scss/colors/_skins.scss */
.border--teal {
  border-color: #39CCCC; }

/* line 65, ../../scss/colors/_skins.scss */
.border--olive {
  border-color: #3D9970; }

/* line 66, ../../scss/colors/_skins.scss */
.border--green {
  border-color: #2ECC40; }

/* line 67, ../../scss/colors/_skins.scss */
.border--lime {
  border-color: #01FF70; }

/* line 68, ../../scss/colors/_skins.scss */
.border--yellow {
  border-color: #FFDC00; }

/* line 69, ../../scss/colors/_skins.scss */
.border--orange {
  border-color: #FF851B; }

/* line 70, ../../scss/colors/_skins.scss */
.border--red {
  border-color: #FF4136; }

/* line 71, ../../scss/colors/_skins.scss */
.border--fuchsia {
  border-color: #F012BE; }

/* line 72, ../../scss/colors/_skins.scss */
.border--purple {
  border-color: #B10DC9; }

/* line 73, ../../scss/colors/_skins.scss */
.border--maroon {
  border-color: #85144B; }

/* line 74, ../../scss/colors/_skins.scss */
.border--white {
  border-color: #fff; }

/* line 75, ../../scss/colors/_skins.scss */
.border--gray {
  border-color: #aaa; }

/* line 76, ../../scss/colors/_skins.scss */
.border--silver {
  border-color: #ddd; }

/* line 77, ../../scss/colors/_skins.scss */
.border--black {
  border-color: #111; }

/* Fills for SVG */
/* line 82, ../../scss/colors/_skins.scss */
.fill-navy {
  fill: #001F3F; }

/* line 83, ../../scss/colors/_skins.scss */
.fill-blue {
  fill: #0074D9; }

/* line 84, ../../scss/colors/_skins.scss */
.fill-aqua {
  fill: #7FDBFF; }

/* line 85, ../../scss/colors/_skins.scss */
.fill-teal {
  fill: #39CCCC; }

/* line 86, ../../scss/colors/_skins.scss */
.fill-olive {
  fill: #3D9970; }

/* line 87, ../../scss/colors/_skins.scss */
.fill-green {
  fill: #2ECC40; }

/* line 88, ../../scss/colors/_skins.scss */
.fill-lime {
  fill: #01FF70; }

/* line 89, ../../scss/colors/_skins.scss */
.fill-yellow {
  fill: #FFDC00; }

/* line 90, ../../scss/colors/_skins.scss */
.fill-orange {
  fill: #FF851B; }

/* line 91, ../../scss/colors/_skins.scss */
.fill-red {
  fill: #FF4136; }

/* line 92, ../../scss/colors/_skins.scss */
.fill-fuchsia {
  fill: #F012BE; }

/* line 93, ../../scss/colors/_skins.scss */
.fill-purple {
  fill: #B10DC9; }

/* line 94, ../../scss/colors/_skins.scss */
.fill-maroon {
  fill: #85144B; }

/* line 95, ../../scss/colors/_skins.scss */
.fill-white {
  fill: #fff; }

/* line 96, ../../scss/colors/_skins.scss */
.fill-gray {
  fill: #aaa; }

/* line 97, ../../scss/colors/_skins.scss */
.fill-silver {
  fill: #ddd; }

/* line 98, ../../scss/colors/_skins.scss */
.fill-black {
  fill: #111; }

/* Strokes for SVG */
/* line 102, ../../scss/colors/_skins.scss */
.stroke-navy {
  stroke: #001F3F; }

/* line 103, ../../scss/colors/_skins.scss */
.stroke-blue {
  stroke: #0074D9; }

/* line 104, ../../scss/colors/_skins.scss */
.stroke-aqua {
  stroke: #7FDBFF; }

/* line 105, ../../scss/colors/_skins.scss */
.stroke-teal {
  stroke: #39CCCC; }

/* line 106, ../../scss/colors/_skins.scss */
.stroke-olive {
  stroke: #3D9970; }

/* line 107, ../../scss/colors/_skins.scss */
.stroke-green {
  stroke: #2ECC40; }

/* line 108, ../../scss/colors/_skins.scss */
.stroke-lime {
  stroke: #01FF70; }

/* line 109, ../../scss/colors/_skins.scss */
.stroke-yellow {
  stroke: #FFDC00; }

/* line 110, ../../scss/colors/_skins.scss */
.stroke-orange {
  stroke: #FF851B; }

/* line 111, ../../scss/colors/_skins.scss */
.stroke-red {
  stroke: #FF4136; }

/* line 112, ../../scss/colors/_skins.scss */
.stroke-fuchsia {
  stroke: #F012BE; }

/* line 113, ../../scss/colors/_skins.scss */
.stroke-purple {
  stroke: #B10DC9; }

/* line 114, ../../scss/colors/_skins.scss */
.stroke-maroon {
  stroke: #85144B; }

/* line 115, ../../scss/colors/_skins.scss */
.stroke-white {
  stroke: #fff; }

/* line 116, ../../scss/colors/_skins.scss */
.stroke-gray {
  stroke: #aaa; }

/* line 117, ../../scss/colors/_skins.scss */
.stroke-silver {
  stroke: #ddd; }

/* line 118, ../../scss/colors/_skins.scss */
.stroke-black {
  stroke: #111; }
