@charset "UTF-8";
/*!
* Front-End Workflow
*
* Copyright 2014 Themestent, Bangladesh
*
* Front-End by Shajed Evan - @evanshajed
*/
/*! 
TYPEPLATE
URL ........... http://typeplate.com
VERSION ....... 1.1.3
Github ........ https://github.com/typeplate/bower
AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
LICENSE ....... Creative Commmons Attribution 3.0 (http://creativecommons.org/licenses/by/3.0)
LICENSE URL ... https://github.com/typeplate/bower/blob/master/license.txt
*/
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }

body {
  word-wrap: break-word; }

pre code {
  word-wrap: normal; }

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
html {
  font: normal 112.5%/1.65 serif; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #444444; }

small {
  font-size: 65%; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0; }

.tera {
  font-size: 117px;
  font-size: 6.5rem;
  margin-bottom: 0.25385px;
  margin-bottom: 0.25385rem; }

.giga {
  font-size: 90px;
  font-size: 5rem;
  margin-bottom: 0.33px;
  margin-bottom: 0.33rem; }

.mega {
  font-size: 72px;
  font-size: 4rem;
  margin-bottom: 0.4125px;
  margin-bottom: 0.4125rem; }

.alpha, h1 {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-bottom: 0.495px;
  margin-bottom: 0.495rem; }

.beta, h2 {
  font-size: 48px;
  font-size: 2.66667rem;
  margin-bottom: 0.61875px;
  margin-bottom: 0.61875rem; }

.gamma, h3 {
  font-size: 36px;
  font-size: 2rem;
  margin-bottom: 0.825px;
  margin-bottom: 0.825rem; }

.delta, h4 {
  font-size: 24px;
  font-size: 1.33333rem;
  margin-bottom: 1.2375px;
  margin-bottom: 1.2375rem; }

.epsilon, h5 {
  font-size: 21px;
  font-size: 1.16667rem;
  margin-bottom: 1.41429px;
  margin-bottom: 1.41429rem; }

.zeta, h6 {
  font-size: 18px;
  font-size: 1rem;
  margin-bottom: 1.65px;
  margin-bottom: 1.65rem; }

p {
  margin: auto auto 1.5em; }
  p + p {
    text-indent: 1.5em;
    margin-top: -1.5em; }

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none; }

pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; }

pre {
  white-space: pre; }

code {
  white-space: pre;
  font-family: monospace; }

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr[title]:hover {
    cursor: help; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222; }

p + .drop-cap {
  text-indent: 0;
  margin-top: 0; }

.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
  display: inline;
  margin: 0; }
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre; }
.lining dd + dd:before {
  content: ", "; }
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }
.dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .dictionary-style dd:before {
    content: counter(definitions,decimal) ". "; }

/**
 * Blockquote Markup
 *
		<figure>
			<blockquote cite="">
				<p></p>
			</blockquote>
			<figcaption>
				<cite>
					<small><a href=""></a></small>
				</cite>
			</figcaption>
		</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
  position: relative;
  padding: 1em; }
  .pull-quote:before, .pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e; }
  .pull-quote:before {
    content: '“';
    top: 0;
    left: 0; }
  .pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0; }

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
.btn {
  border: none;
  font-size: 18;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -moz-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear; }
  .btn:hover, .btn:focus {
    outline: none;
    color: white; }
  .btn:active, .btn.active {
    outline: none;
    box-shadow: 0; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    background-color: #bdc3c7;
    color: white;
    opacity: 0.7;
    filter: alpha(opacity=70); }
  .btn > [class^="fui-"] {
    margin: 0 1px;
    position: relative;
    line-height: 1;
    top: 1px; }
    .btn > [class^="fui-"].btn-xs {
      font-size: 11px;
      top: 0; }
    .btn > [class^="fui-"].btn-hg {
      top: 2px; }

.btn-default {
  color: white;
  background-color: #bdc3c7;
  border-color: #cacfd2; }
  .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    color: white;
    background-color: #a7afb4;
    border-color: #a9b1b6; }
  .open .btn-default.dropdown-toggle {
    color: white;
    background-color: #a7afb4;
    border-color: #a9b1b6; }
  .btn-default:active, .btn-default.active {
    background-image: none; }
  .open .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: #bdc3c7;
    border-color: #cacfd2; }

.btn-primary {
  color: white;
  background-color: #1abc9c;
  border-color: #47c9af; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: white;
    background-color: #15987e;
    border-color: #30a38c; }
  .open .btn-primary.dropdown-toggle {
    color: white;
    background-color: #15987e;
    border-color: #30a38c; }
  .btn-primary:active, .btn-primary.active {
    background-image: none; }
  .open .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #1abc9c;
    border-color: #47c9af; }

.btn-info {
  color: white;
  background-color: #3498db;
  border-color: #5cace2; }
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
    color: white;
    background-color: #2383c4;
    border-color: #2892d9; }
  .open .btn-info.dropdown-toggle {
    color: white;
    background-color: #2383c4;
    border-color: #2892d9; }
  .btn-info:active, .btn-info.active {
    background-image: none; }
  .open .btn-info.dropdown-toggle {
    background-image: none; }
  .btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: #3498db;
    border-color: #5cace2; }

.btn-danger {
  color: white;
  background-color: #e74c3c;
  border-color: #eb6f62; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
    color: white;
    background-color: #df2e1b;
    border-color: #e43d2c; }
  .open .btn-danger.dropdown-toggle {
    color: white;
    background-color: #df2e1b;
    border-color: #e43d2c; }
  .btn-danger:active, .btn-danger.active {
    background-image: none; }
  .open .btn-danger.dropdown-toggle {
    background-image: none; }
  .btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    background-color: #e74c3c;
    border-color: #eb6f62; }

.btn-success {
  color: white;
  background-color: #2ecc71;
  border-color: #57d68d; }
  .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
    color: white;
    background-color: #26ab5f;
    border-color: #2fc16d; }
  .open .btn-success.dropdown-toggle {
    color: white;
    background-color: #26ab5f;
    border-color: #2fc16d; }
  .btn-success:active, .btn-success.active {
    background-image: none; }
  .open .btn-success.dropdown-toggle {
    background-image: none; }
  .btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
    background-color: #2ecc71;
    border-color: #57d68d; }

.btn-warning {
  color: white;
  background-color: #f1c40f;
  border-color: #9f9f9f; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
    color: white;
    background-color: #cba50c;
    border-color: #818181; }
  .open .btn-warning.dropdown-toggle {
    color: white;
    background-color: #cba50c;
    border-color: #818181; }
  .btn-warning:active, .btn-warning.active {
    background-image: none; }
  .open .btn-warning.dropdown-toggle {
    background-image: none; }
  .btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
    background-color: #f1c40f;
    border-color: #9f9f9f; }

.btn-inverse {
  color: white;
  background-color: #34495e;
  border-color: #9f9f9f; }
  .btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active {
    color: white;
    background-color: #253544;
    border-color: #818181; }
  .open .btn-inverse.dropdown-toggle {
    color: white;
    background-color: #253544;
    border-color: #818181; }
  .btn-inverse:active, .btn-inverse.active {
    background-image: none; }
  .open .btn-inverse.dropdown-toggle {
    background-image: none; }
  .btn-inverse.disabled, .btn-inverse.disabled:hover, .btn-inverse.disabled:focus, .btn-inverse.disabled:active, .btn-inverse.disabled.active, .btn-inverse[disabled], .btn-inverse[disabled]:hover, .btn-inverse[disabled]:focus, .btn-inverse[disabled]:active, .btn-inverse[disabled].active, fieldset[disabled] .btn-inverse, fieldset[disabled] .btn-inverse:hover, fieldset[disabled] .btn-inverse:focus, fieldset[disabled] .btn-inverse:active, fieldset[disabled] .btn-inverse.active {
    background-color: #34495e;
    border-color: #9f9f9f; }

.btn-embossed {
  box-shadow: inset 0 -2px 0 #262626; }
  .btn-embossed.active, .btn-embossed:active {
    box-shadow: inset 0 2px 0 #262626; }

.btn-wide {
  min-width: 140px;
  padding-left: 30px;
  padding-right: 30px; }

.btn-link {
  color: #f56363; }
  .btn-link:hover, .btn-link:focus {
    color: #f01b1b;
    text-decoration: underline;
    background-color: transparent; }
  .btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
    color: #bdc3c7;
    text-decoration: none; }

.btn-hg {
  padding: 13px 20px;
  font-size: 26;
  line-height: 1.227;
  border-radius: 6px; }

.btn-lg {
  padding: 10px 19px;
  font-size: 21;
  line-height: 1.471;
  border-radius: 6px; }

.btn-sm {
  padding: 9px 13px;
  font-size: 15;
  line-height: 1.385;
  border-radius: 4px; }

.btn-xs {
  padding: 6px 9px;
  font-size: 15;
  line-height: 1.083;
  border-radius: 3px; }

.btn-tip {
  font-weight: 300;
  padding-left: 10px;
  font-size: 92%; }

.btn-block {
  white-space: normal; }

html, body {
  height: 100%;
  background-color: white; }

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -90px; }

.push, footer {
  height: 90px; }

.row {
  margin-top: 2.5em;
  margin-bottom: 2.5em; }

body {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "PT Serif";
  color: #3c5868;
  padding: 0 0 50px;
  font-weight: 400;
  font-style: normal; }

p {
  font-size: 1.25em;
  line-height: 1.6em;
  margin: 0 0 1.6em 0;
  color: #3c5868; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald";
  color: #a3c737; }

h1 {
  font-size: 2.5em;
  line-height: 1.095em;
  font-weight: 700;
  font-style: normal; }

h2 {
  font-size: 2em;
  line-height: 1.188em;
  margin: 2em 0 0.5em 0;
  font-weight: 400;
  font-style: normal; }

h3 {
  font-family: Oswald;
  font-size: 1.625em;
  line-height: 1.231em;
  margin: 2.462em 0 0.615em 0;
  font-weight: 400;
  font-style: normal; }

ul {
  font-size: 1.25em;
  line-height: 1.6;
  margin: 0 0 1.6em 3.2em;
  list-style: disc outside; }

ul.nav {
  font-size: 1em; }

ul.level2 {
  font-size: 1em;
  margin-left: 1.75em;
  list-style-type: circle; }

ol {
  font-size: 1.25em;
  line-height: 1.6em;
  margin: 0 0 1.6em 3.2em;
  list-style: decimal outside; }

blockquote {
  margin: 3em 0 3em 4em; }

p.quote {
  font-family: "PT Serif Caption";
  line-height: 1.7;
  font-weight: 400;
  font-style: italic; }

blockquote.pquote {
  text-align: center;
  margin: 3em -100px; }

p.pquote {
  font-size: 1.625em;
  line-height: 1.667em;
  font-family: "PT Serif Caption";
  font-weight: 400;
  font-style: italic; }

a {
  font-family: "PT Serif";
  font-weight: 400;
  font-style: normal;
  color: #f56363; }
  a:hover {
    color: #f01b1b; }

em {
  font-style: italic;
  font-family: "PT Serif";
  font-weight: 400; }

strong {
  font-family: "PT Serif";
  font-weight: 700;
  font-style: normal; }

small {
  font-size: 75%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

a.a-sup {
  border: none; }

p.header {
  font-family: "PT Serif";
  font-size: 0.875em;
  line-height: 1em;
  margin: 0;
  font-weight: 700;
  font-style: normal; }

span.author {
  text-transform: uppercase; }

h2.header {
  font-size: 1.1em;
  line-height: 1.6em;
  border-top: 1px solid #444444;
  padding-top: 0.8em;
  margin: 0;
  font-family: Oswald;
  font-weight: 400;
  font-style: normal;
  color: #3c5868; }

p.first-paragraph {
  font-size: 1.625em;
  line-height: 1.462em;
  margin: 2.462em 0 1.846em 0;
  font-family: "PT Serif";
  font-weight: 400;
  font-style: normal; }

span.first-letter {
  float: left;
  font-size: 4.385em;
  line-height: 1em;
  margin: 0 0.228em 0 0; }

ol.footnote-list {
  font-size: 1.125em;
  line-height: 1.778em;
  margin: 0 0 1.778em 0; }

p.comment {
  font-size: 1.125em;
  line-height: 1.778em;
  margin: 0 0 1.778em 0; }

p.comment-options {
  font-family: "PT Serif";
  font-size: 1.25em;
  line-height: 1.6em;
  margin: 0 0 2.4em 0;
  font-weight: 400;
  font-style: normal; }

ul.comment-list {
  list-style: none;
  font-size: 1em;
  line-height: 1em;
  margin: 0 0 8em 0; }

span.hr {
  display: block;
  width: 14%;
  margin: 4em auto;
  border: 0;
  border-top: 1px solid #444;
  text-indent: -9999em;
  height: 1px; }

div.figure {
  margin: 3em -100px;
  text-align: center; }

p.caption {
  font-family: "PT Serif Caption";
  text-align: center;
  font-size: 0.875em;
  line-height: 1em;
  margin-top: 1.143em;
  color: #36bac2;
  margin-bottom: 0;
  font-weight: 400;
  font-style: normal; }

span.heading-small {
  font-weight: normal;
  font-size: 0.538em;
  margin-left: 0.5em; }

li.a-comment {
  border-top: 1px solid #ccc;
  padding: 2em 0 0 0;
  margin: 3em 0 0 0; }

h3.comment-header {
  margin-top: 0;
  font-family: "PT Serif Caption";
  font-weight: 400;
  font-style: normal;
  color: #2e3e4d; }

.nav {
  color: #fefefe;
  font-family: "Arvo";
  font-weight: 400;
  font-style: normal; }

span {
  font-family: "PT Serif";
  font-weight: 700;
  font-style: normal; }

@media screen and (max-width: 768px) {
  article.main {
    width: 80%;
    padding: 0px; }

  ol.footnote-list {
    margin: 0px 0px 32.00400161743164px 1.78em; }

  body {
    font-size: 90%; }

  h1 {
    font-size: 2.37em;
    margin: 30.479999542236328px 0px; }

  blockquote.pquote {
    margin: 48px 0px; }

  section.main {
    width: 100%; }

  div.figure {
    margin: 48px 0px; } }
@media screen and (max-width: 480px) {
  body {
    font-size: 80%; }

  ul {
    margin: 0px 0px 25.600000381469727px 1.5em; }

  ul.level2 {
    margin: 0px 0px 25.600000381469727px 1.5em; }

  li.nav {
    font-size: 11px; }

  p.first-paragraph {
    font-size: 1.42em; }

  span.first-letter {
    font-size: 4.34em; }

  blockquote {
    margin: 38.400001525878906px 0px 38.400001525878906px 1.5em; }

  h2 {
    font-size: 1.7em; }

  h3.comment-header {
    font-size: 1.42em; } }
.header-main {
  background-color: #f39c12; }
  .header-main nav.navbar {
    text-decoration: none;
    border: none;
    font-family: "Arvo";
    font-weight: 400;
    font-style: normal;
    margin: 0; }
    .header-main nav.navbar .navbar-brand {
      color: transparent;
      font: 0/0 a;
      text-shadow: none;
      width: 246px;
      height: 37px;
      background-image: url(../img/frontflow-logo.png);
      background-repeat: no-repeat;
      background-size: 246px 37px; }
    .header-main nav.navbar ul > li > a {
      color: #3c5868; }

header.page-header {
  text-align: center;
  padding: 4em 0;
  background-color: #36bac2;
  margin: 0; }

.grid-components .container {
  padding-right: 15px;
  padding-left: 15px; }
.grid-components h4 {
  margin-top: 25px; }
.grid-components .row {
  margin-bottom: 20px; }
.grid-components .row .row {
  margin-top: 30px;
  margin-bottom: 10px; }
.grid-components [class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2); }
.grid-components hr {
  margin-top: 40px;
  margin-bottom: 40px; }

.reference .icons {
  width: 100%; }
  .reference .icons div.ref {
    width: 14.57286%;
    float: left;
    margin: 2.51256%;
    padding: 5px;
    background-color: #bdc3c7;
    font-size: 1.375em; }

.blog-container {
  /*
   * Blog name and description
   */
  /*
   * Main column and sidebar layout
   */
  /* Sidebar modules for boxing content */
  /* Pagination */
  /*
   * Blog posts
   */
  /*
   * Footer
   */ }
  .blog-container .blog-header {
    padding-top: 20px;
    padding-bottom: 20px; }
  .blog-container .blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal; }
  .blog-container .blog-description {
    font-size: 20px;
    color: #999; }
  .blog-container .blog-main {
    font-size: 18px;
    line-height: 1.5; }
  .blog-container .sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px; }
  .blog-container .sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px; }
  .blog-container .sidebar-module-inset p:last-child,
  .blog-container .sidebar-module-inset ul:last-child,
  .blog-container .sidebar-module-inset ol:last-child {
    margin-bottom: 0; }
  .blog-container .pager {
    margin-bottom: 60px;
    text-align: left; }
  .blog-container .pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px; }
  .blog-container .blog-post {
    margin-bottom: 60px; }
  .blog-container .blog-post-title {
    margin-bottom: 5px;
    font-size: 40px; }
  .blog-container .blog-post-meta {
    margin-bottom: 20px;
    color: #999; }
  .blog-container .blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5; }
  .blog-container .blog-footer p:last-child {
    margin-bottom: 0; }

.footer {
  min-height: 60px; }
