/*!
* Front-End Workflow
*
* Copyright 2014 Themestent, Bangladesh
*
* Front-End by Shajed Evan - @evanshajed
*/
/*!
Typeplate : Starter Kit
URL ........... http://typeplate.com
Version ....... 2.1.0
Github ........ https://github.com/typeplate/starter-kit
Authors ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
License ....... Creative Commmons Attribution 3.0
License URL ... https://github.com/typeplate/starter-kit/blob/master/license.txt
*/
@charset 'UTF-8';a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline;}
html{line-height:1;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,td,th{font-weight:normal;text-align:left;vertical-align:middle;}
blockquote,q{quotes:none;}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none;}
a img{border:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}
@font-face{font-family:'Ampersand';src:local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua');unicode-range:U+0026;}
@font-face{font-family:'Ampersand';src:local('Georgia');unicode-range:U+270C;}
.typl8-alpha,.typl8-beta,.typl8-delta,.typl8-epsilon,.typl8-gamma,.typl8-giga,.typl8-mega,.typl8-tera,.typl8-zeta,h1,h2,h3,h4,h5,h6{color:#222;line-height:1;margin-top:0;text-rendering:optimizeLegibility;}
blockquote+figcaption cite{display:block;font-size:inherit;text-align:right;}
body{word-wrap:break-word;}
pre code{word-wrap:normal;}
html{font:normal 112.5%/1.65 serif;}
body{color:#444;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;}
.typl8-tera{font-size:117px;font-size:6.5rem;margin-bottom:70.90909px;margin-bottom:3.93939rem;}
.typl8-giga{font-size:90px;font-size:5rem;margin-bottom:54.54545px;margin-bottom:3.0303rem;}
.typl8-mega,h1{font-size:72px;font-size:4rem;margin-bottom:43.63636px;margin-bottom:2.42424rem;}
.typl8-alpha,h2{font-size:60px;font-size:3.33333rem;margin-bottom:36.36364px;margin-bottom:2.0202rem;}
.typl8-beta,h3{font-size:48px;font-size:2.66667rem;margin-bottom:29.09091px;margin-bottom:1.61616rem;}
.typl8-gamma,h4{font-size:36px;font-size:2rem;margin-bottom:21.81818px;margin-bottom:1.21212rem;}
.typl8-delta,h5{font-size:24px;font-size:1.33333rem;margin-bottom:14.54545px;margin-bottom:0.80808rem;}
.typl8-epsilon{font-size:21px;font-size:1.16667rem;margin-bottom:12.72727px;margin-bottom:0.70707rem;}
.typl8-zeta,h6{font-size:18px;font-size:1rem;margin-bottom:10.90909px;margin-bottom:0.60606rem;}
p{margin:auto auto 1.5em;}
p+p{margin-top:-1.5em;text-indent:1.5em;}
small{font-size:65%;}
abbr,acronym,blockquote,code,input,kbd,q,samp,var{-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;}
pre{white-space:pre;}
pre code{white-space:-moz-pre-wrap;white-space:pre-wrap;}
code{font-family:monospace;white-space:pre;}
abbr{color:gray;-webkit-font-variant:small-caps;-moz-font-variant:small-caps;-ms-font-variant:small-caps;font-variant:small-caps;font-weight:600;text-transform:lowercase;}
abbr[title]:hover{cursor:help;}
.typl8-drop-cap:first-letter{background:transparent;color:inherit;float:left;font-family:inherit;font-size:4em;line-height:1;margin:10px 10px 0 0;padding:0 20px;text-indent:0;}
p+.typl8-drop-cap{margin-top:0;text-indent:0;}
.typl8-lining dd,.typl8-lining dt{display:inline;margin:0;}
.typl8-lining dd+dt:before,.typl8-lining dt+dt:before{content:'\A';white-space:pre;}
.typl8-lining dd+dd:before{content:', ';}
.typl8-lining dd:before{content:': ';margin-left:-0.2rem;}
.typl8-dictionary-style dt{counter-reset:definitions;display:inline;}
.typl8-dictionary-style dt+dt:before{content:', ';margin-left:-0.2rem;}
.typl8-dictionary-style dd{counter-increment:definitions;display:block;}
.typl8-dictionary-style dd:before{content:counter(definitions,decimal) '. ';}
.typl8-pull-quote{padding:1em;position:relative;}
.typl8-pull-quote:after,.typl8-pull-quote:before{color:#dc976e;font-size:4em;height:1em;opacity:0.5;position:absolute;}
.typl8-pull-quote:before{content:'“';left:0;top:0;}
.typl8-pull-quote:after{bottom:0;content:'”';right:0;}
.btn{border:0;border-radius:4px;font-size:18;-webkit-font-smoothing:subpixel-antialiased;font-weight:normal;line-height:1.4;padding:10px 15px;-webkit-transition:border 0.25s linear,color 0.25s linear,background-color 0.25s linear;-moz-transition:border 0.25s linear,color 0.25s linear,background-color 0.25s linear;transition:border 0.25s linear,color 0.25s linear,background-color 0.25s linear;}
.btn:focus,.btn:hover{color:white;outline:0;}
.btn.active,.btn:active{-webkit-box-shadow:0;box-shadow:0;outline:0;}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{background-color:#bdc3c7;color:white;filter:alpha(opacity=70);opacity:0.7;}
.btn>[class^='fui-']{line-height:1;margin:0 1px;position:relative;top:1px;}
.btn>[class^='fui-'].btn-xs{font-size:11px;top:0;}
.btn>[class^='fui-'].btn-hg{top:2px;}
.btn-default{background-color:#bdc3c7;border-color:#cacfd2;color:white;}
.btn-default.active,.btn-default.focus,.btn-default:active,.btn-default:focus,.btn-default:hover,.open>.btn-default.dropdown-toggle{background-color:#a1aab0;border-color:#a9b1b6;color:white;}
.btn-default.active,.btn-default:active,.open>.btn-default.dropdown-toggle{background-image:none;}
.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled.focus,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled],.btn-default[disabled].active,.btn-default[disabled].focus,.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover{background-color:#bdc3c7;border-color:#cacfd2;}
.btn-default .badge{background-color:white;color:#bdc3c7;}
.btn-primary{background-color:#1abc9c;border-color:#47c9af;color:white;}
.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.btn-primary.dropdown-toggle{background-color:#148f77;border-color:#30a38c;color:white;}
.btn-primary.active,.btn-primary:active,.open>.btn-primary.dropdown-toggle{background-image:none;}
.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled.focus,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled].focus,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{background-color:#1abc9c;border-color:#47c9af;}
.btn-primary .badge{background-color:white;color:#1abc9c;}
.btn-info{background-color:#3498db;border-color:#5cace2;color:white;}
.btn-info.active,.btn-info.focus,.btn-info:active,.btn-info:focus,.btn-info:hover,.open>.btn-info.dropdown-toggle{background-color:#217dbb;border-color:#2892d9;color:white;}
.btn-info.active,.btn-info:active,.open>.btn-info.dropdown-toggle{background-image:none;}
.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled.focus,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info[disabled],.btn-info[disabled].active,.btn-info[disabled].focus,.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info,fieldset[disabled] .btn-info.active,fieldset[disabled] .btn-info.focus,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover{background-color:#3498db;border-color:#5cace2;}
.btn-info .badge{background-color:white;color:#3498db;}
.btn-danger{background-color:#e74c3c;border-color:#eb6f62;color:white;}
.btn-danger.active,.btn-danger.focus,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.open>.btn-danger.dropdown-toggle{background-color:#d62c1a;border-color:#e43d2c;color:white;}
.btn-danger.active,.btn-danger:active,.open>.btn-danger.dropdown-toggle{background-image:none;}
.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled.focus,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger[disabled],.btn-danger[disabled].active,.btn-danger[disabled].focus,.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger,fieldset[disabled] .btn-danger.active,fieldset[disabled] .btn-danger.focus,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover{background-color:#e74c3c;border-color:#eb6f62;}
.btn-danger .badge{background-color:white;color:#e74c3c;}
.btn-success{background-color:#2ecc71;border-color:#57d68d;color:white;}
.btn-success.active,.btn-success.focus,.btn-success:active,.btn-success:focus,.btn-success:hover,.open>.btn-success.dropdown-toggle{background-color:#25a25a;border-color:#2fc16d;color:white;}
.btn-success.active,.btn-success:active,.open>.btn-success.dropdown-toggle{background-image:none;}
.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled.focus,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled],.btn-success[disabled].active,.btn-success[disabled].focus,.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success.focus,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover{background-color:#2ecc71;border-color:#57d68d;}
.btn-success .badge{background-color:white;color:#2ecc71;}
.btn-warning{background-color:#f1c40f;border-color:#9f9f9f;color:white;}
.btn-warning.active,.btn-warning.focus,.btn-warning:active,.btn-warning:focus,.btn-warning:hover,.open>.btn-warning.dropdown-toggle{background-color:#c29d0b;border-color:#818181;color:white;}
.btn-warning.active,.btn-warning:active,.open>.btn-warning.dropdown-toggle{background-image:none;}
.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled.focus,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning[disabled],.btn-warning[disabled].active,.btn-warning[disabled].focus,.btn-warning[disabled]:active,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-warning.active,fieldset[disabled] .btn-warning.focus,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover{background-color:#f1c40f;border-color:#9f9f9f;}
.btn-warning .badge{background-color:white;color:#f1c40f;}
.btn-inverse{background-color:#34495e;border-color:#9f9f9f;color:white;}
.btn-inverse.active,.btn-inverse.focus,.btn-inverse:active,.btn-inverse:focus,.btn-inverse:hover,.open>.btn-inverse.dropdown-toggle{background-color:#222f3d;border-color:#818181;color:white;}
.btn-inverse.active,.btn-inverse:active,.open>.btn-inverse.dropdown-toggle{background-image:none;}
.btn-inverse.disabled,.btn-inverse.disabled.active,.btn-inverse.disabled.focus,.btn-inverse.disabled:active,.btn-inverse.disabled:focus,.btn-inverse.disabled:hover,.btn-inverse[disabled],.btn-inverse[disabled].active,.btn-inverse[disabled].focus,.btn-inverse[disabled]:active,.btn-inverse[disabled]:focus,.btn-inverse[disabled]:hover,fieldset[disabled] .btn-inverse,fieldset[disabled] .btn-inverse.active,fieldset[disabled] .btn-inverse.focus,fieldset[disabled] .btn-inverse:active,fieldset[disabled] .btn-inverse:focus,fieldset[disabled] .btn-inverse:hover{background-color:#34495e;border-color:#9f9f9f;}
.btn-inverse .badge{background-color:white;color:#34495e;}
.btn-embossed{-webkit-box-shadow:inset 0 -2px 0 #262626;box-shadow:inset 0 -2px 0 #262626;}
.btn-embossed.active,.btn-embossed:active{-webkit-box-shadow:inset 0 2px 0 #262626;box-shadow:inset 0 2px 0 #262626;}
.btn-wide{min-width:140px;padding-left:30px;padding-right:30px;}
.btn-link{color:#f56363;}
.btn-link:focus,.btn-link:hover{background-color:transparent;color:#f01b1b;text-decoration:underline;}
.btn-link[disabled]:focus,.btn-link[disabled]:hover,fieldset[disabled] .btn-link:focus,fieldset[disabled] .btn-link:hover{color:#bdc3c7;text-decoration:none;}
.btn-hg{border-radius:6px;font-size:26;line-height:1.227;padding:13px 20px;}
.btn-lg{border-radius:6px;font-size:21;line-height:1.471;padding:10px 19px;}
.btn-sm{border-radius:4px;font-size:15;line-height:1.385;padding:9px 13px;}
.btn-xs{border-radius:3px;font-size:15;line-height:1.083;padding:6px 9px;}
.btn-tip{font-size:92%;font-weight:300;padding-left:10px;}
.btn-block{white-space:normal;}
body,html{background-color:#ecf0f1;height:100%;}
.wrap{height:auto!important;height:100%;margin:0 auto -90px;min-height:100%;}
.push,footer{height:90px;}
.container{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
@media (min-width: 1200px){.container{width:970px;}
}
body{color:#3c5868;font-family:PT Serif;}
p{color:#3c5868;}
h1,h2,h3,h4,h5,h6{color:#444;font-family:Oswald;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#444;}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#f56363;}
.title-highlighted{background-color:#f56363;font-size:1.25em;padding:10px 15px;}
.title-highlighted a{color:white;}
a{color:#f56363;}
a:hover{color:#444;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;transition:all 0.2s ease;}
em{font-family:PT Serif;font-style:italic;}
.header-main{background-color:#2c3e50;display:block;}
.navbar-header .navbar-brand{background-image:url(../img/front-end-workflow.png);background-repeat:no-repeat;height:59px;width:312px;}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx){.navbar-header .navbar-brand{background-image:url(../img/front-end-workflow_2x.png);background-size:132px 59px;}
}
.outer{margin-bottom:1.25em;}
.outer .container{background-color:transparent;}
.section-main .page-header{background-color:#444;margin:0;padding:40px 20px;}
.section-main .page-header .title{color:#f39c12;text-align:center;}
.section-main .page-header .title-leadtext{color:#ecf0f1;text-align:center;}
.section-main .page-header .teaser-text{color:#bdc3c7;text-align:center;}
.aside{background-color:#fbfbfb;}
.aside .tab-content{margin-top:1em;}
.footer{background-color:#fefefe;display:block;height:auto;padding:10px;}
.footer-brand a{background:url(../img/footer_hegnar_logo.png);background-size:contain;display:inline-block;height:70px;overflow:hidden;text-indent:101%;white-space:nowrap;width:166px;}
.title-contact{font-size:1.25em;}
.contact-info{font-size:1em;}
.widget{margin-bottom:2em;}
.article-section pre{margin:1em 0;padding:1em;}
.navbar{margin-top:20px;}
#navbar-collapse-1.affix{background-color:#ecf0f1;background-color:rgba(255,255,255,0.96);-webkit-box-shadow:0 1px 7px 0 #999;box-shadow:0 1px 7px 0 #999;position:fixed;top:0;width:940px;z-index:9999999;}
.title-section{font-size:1.875em;margin-bottom:0;}
.title-section:before{background-color:#f56363;content:'';display:inline-block;height:15px;margin-right:6px;width:5px;}
.section-page{background-color:#fefefe;padding:15px;}
