<div class="article-content details-section">
  <h2 id="built-for-rapid-development"><a href="#details">Built for rapid development.</a></h2>
  <p>Front-End developers deal with so many different tasks to deliver a perfect UI front usable for it's users and obviously the browsers. On any new project we face a common problem - <a href="https://speakerdeck.com/addyosmani/automating-front-end-workflow"><strong>setting up a good development platform</strong></a>.</p>

  <p>To achieve that most of us download same types of resources every time, do the redundant copy &amp; pasting don't know how many times! We also do the browser testing, performance optimization, we need to compress images, check our css with CssLint, concatenate different JavaScript files and the list just goes on!</p>
</div>
