<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {% if page.title == "Front-End Workflow" %}
      {{ page.title }}
    {% else %}
      {{ page.title }} &middot; Front-End Workflow
    {% endif %}
  </title>
  <meta name="author" content="Shajed Evan">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="js/vendors/html5shiv/html5shiv.js"></script>
<script src="js/vendors/respond/respond.js"></script>

<![endif]-->

{% include modules/meta-tags/social-meta-tags.html twitter-username="evanshajed" %}
