<header class="page-header">
  <div class="container">
    <h1 class="title" id="mainTitle">Front-End Workflow</h1>
    <h2 class="title-leadtext" id="subTitle">A practical workflow for effective, rapid &amp; quality Front-end development.</h2>
    <p class="teaser-text"><strong>Front-End Workflow</strong> is a boilerplate for front-end developers that automates different front-end development related tasks. It helps you to take care of all the repeating tasks every front-end developers faces while developing their projects. Thus it gives you the freedom to concentrate more on better coding and keeping other hassles a side!</p>
  </div>
</header>
