<meta name="application-name" content="Kickoff">

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

<!-- Apple iOS -->
<meta name="apple-mobile-web-app-title" content="Kickoff">
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon.png" />
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">


<!-- Windows - more info at http://www.buildmypinnedsite.com/windows7/en -->
<!-- Windows 8 -->
<meta name="application-name" content="{page title}"/>
<meta name="msapplication-TileColor" content="#f65a17"/>
<meta name="msapplication-TileImage" content="{siteurl}/favicons/114x114.png"/>

<!-- Windows 7 -->
<meta name="msapplication-starturl" content="{siteurl}" />
<meta name="msapplication-navbutton-color" content="#f65a17" />
<meta name="msapplication-window" content="width=1024;height=768" />
<meta name="msapplication-tooltip" content="{page title}" />

<!-- Jump lists -->
<meta name="msapplication-task" content="name=Spirits;action-uri={siteurl}spirits;icon-uri=favicon.ico" />
<meta name="msapplication-task" content="name=Occasions;action-uri={siteurl}occasions;icon-uri=favicon.ico" />
<meta name="msapplication-task" content="name=Recipes;action-uri={siteurl}recipes;icon-uri=favicon.ico" />
<meta name="msapplication-task" content="name=Ingredients;action-uri={siteurl}ingredients;icon-uri=favicon.ico" />
