<!-- Twitter - more info at https://dev.twitter.com/cards/overview -->
<meta name="twitter:site" content="@{{include.twitter-username}}"> <!-- e.g. @TMWKickoff -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ page.title }} &middot; Front-End Workflow" />
<meta name="twitter:description" content="{{ page.excerpt }}" />
<meta name="twitter:url" content="{{ page.url }}" />

<!-- Open Graph data - more info at http://ogp.me/ -->
<meta property="og:title" content="{{ page.title }} &middot; Front-End Workflow" />
<meta property="og:description" content="{{ page.excerpt }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{site.url}}}/{{ page.url }}" />
