---
layout: default
title: Buttons
---
<!-- Typography Container -->
<section class="container">
  <div class="row">
    <header class="col-md-12">
      <h1 class="title-page">Buttons</h1>
      <p>Buttons Styles and related components along with color and different effects has been used which were originally developed by <a href="http://designmodo.com" title="Designmodo"><strong>Design Modo</strong></a></p>
    </header>
  </div>
  <article role="main">
    <div class="row">
      <div class="col-md-12">
              <div class="demo-row">
                <div class="demo-content">
                  <p>
                    After restyling the <a href="http://getbootstrap.com/css/#buttons">Bootstrap buttons</a>, we have decided to add a new size: <code>btn-hg</code> which will be used for the main call to action buttons on the page:
                  </p>
                  <p class="mbl">
                    <button class="btn btn-hg btn-primary">Huge Button</button>
                  </p>
<pre class="prettyprint">
&lt;button class="btn btn-hg btn-primary"&gt;
  Boss Button
&lt;/button&gt;
</pre>

                  <p class="ptl">
                    In addition, we have added <code>btn-embossed</code> to make buttons look more realistic, but we still prefer them flat.
                  </p>
                  <p class="mbl">
                    <button class="btn btn-embossed btn-primary">Embossed Button</button>
                  </p>
<pre class="prettyprint">
&lt;button class="btn btn-embossed btn-primary"&gt;
  Embossed Button
&lt;/button&gt;
</pre>

                  <p class="ptl">
                    In some cases buttons need to become wider. Yes, we have taken care of that as well:
                  </p>
                  <p class="mbl">
                    <button class="btn btn-wide btn-primary mrm">Save</button>
                    <button class="btn btn-wide btn-default">Cancel</button>
                  </p>
        <pre class="prettyprint">
        &lt;button class="btn btn-default btn-wide"&gt;
          Cancel
        &lt;/button&gt;
        </pre>

                  <p class="ptl">
                    Another new thing is <code>btn-tip</code>. Use it when you need to highlight a part of the button text:
                  </p>
                  <p class="mbl">
                    <button class="btn btn-primary">
                      Save
                      <span class="btn-tip">$300</span>
                    </button>
                  </p>
        <pre class="prettyprint">
        &lt;button class="btn btn-primary"&gt;
          Save
          &lt;span class="btn-tip"&gt;$300&lt;/span&gt;
        &lt;/button&gt;
        </pre>

                  <p class="ptl">
                    As usual you can set different colors:
                  </p>
                  <p>
                    <button class="btn btn-default mrs">Default</button>
                    <button class="btn btn-primary mrs">Primary</button>
                    <button class="btn btn-info mrs">Info</button>
                    <button class="btn btn-danger mrs">Danger</button>
                  </p>
                  <p class="mbl">
                    <button class="btn btn-success mrs">Success</button>
                    <button class="btn btn-warning mrs">Warning</button>
                    <button class="btn btn-inverse mrs">Inverse</button>
                  </p>
        <pre class="prettyprint">
        &lt;button class="btn btn-default"&gt;Default&lt;/button&gt;
        &lt;button class="btn btn-primary"&gt;Primary&lt;/button&gt;
        &lt;button class="btn btn-info"&gt;Info&lt;/button&gt;
        &lt;button class="btn btn-danger"&gt;Danger&lt;/button&gt;
        &lt;button class="btn btn-success"&gt;Success&lt;/button&gt;
        &lt;button class="btn btn-warning"&gt;Warning&lt;/button&gt;
        &lt;button class="btn btn-inverse"&gt;Inverse&lt;/button&gt;
        </pre>

                  <p>
                    Button groups, toolbars, and disabled state also work as expected.
                  </p>
                </div>
              </div><!-- /.demo-row -->
      </div>
    </div>
  </article>
</section>
