---
layout: home
title: Front-End Workflow
---

<!-- Main Section -->
<section class="section-main" role="main">
  {% include page-header.html %}
  <article class="home-article-container" role="article">
    <div class="container">
      <div class="row">
        {% include page-sub-nav.html %}

        <section class="col-md-12">

          <!--Detils Section-->
          <div class="widget article-section">
            {% include details.html %}
          </div>

          <div class="widget article-section">
            {% include features.html %}
          </div>


          <div class="widget article-section">
            {% include howto.html %}
          </div>
        </section>
      </div>
    </div>
  </article>
</section>
<hr />
