---
layout: home
title: Front-End Workflow
---

<!-- Main Section -->
<section class="section-main">
  <header class="page-header">
    <h1>Front-End Workflow</h1>
    <h2 class="header">A practical workflow for effective, rapid &amp; quility Front-end development.</h2>
    <p><strong>Front-End Workflow</strong> is a boilerplate for front-end developers that automates front-end development workflows. Front-End Workflow is not a framework, nor it does any automated coding for you. It rather helps you to take care of all the repeating tasks every front-end developers faces while developing their projects. Thus it gives you the freedom to concentrate more on better coding keeping other hassles a side!</p>
  </header>
  <article class="home-article-container" role="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          askajskjas
        </div>
      </div>
    </div>
  </article>
</section>
