---
layout: default
title: Media
---
<!-- Typography Container -->
<section class="container">
  <div class="row">
    <header class="col-md-12">
      <h1 class="title-page">Better Typography</h1>
      <p>Readable typography styles using <a href="http://typeplate.com" title="Typography starter kit"><b>Typeplate</b></a> to give rich reading experiences to users.</p>
    </header>
  </div>
  <article role="main">
    <!-- Images Example -->
    <div class="row">
      <header class="col-md-12">
        <h1 class="gamma section-title">Images</h1>
      </header>
      <div class="col-md-4">
        <h2 class="delta">Using <code>img-rounded</code> class on This image</h2>
        <img src="img/sample-thumb.jpeg" alt="..." class="img-rounded img-responsive">
      </div>
      <div class="col-md-4">
        <h2 class="delta">Using <code>img-circle</code> class on This image</h2>
        <img src="img/sample-thumb.jpeg" alt="..." class="img-circle img-responsive">
      </div>
      <div class="col-md-4">
        <h2 class="delta">Using <code>img-thumbnail</code> class on This image</h2>
          <img src="img/sample-thumb.jpeg" alt="..." class="img-thumbnail img-responsive">
      </div>
      <header class="col-md-12">
        <h1 class="gamma section-title">Using <a href="http://www.mobify.com/mobifyjs/v2/docs/" title="Mobify.js Doc">Mobify.js</a> for adaptive responsive images</h1>
      </header>
      <!-- Picture Polyfill -->
      <div class="col-md-6">
        <h2 class="delta">Using <a href="http://cdn.mobify.com/mobifyjs/examples/capturing-picturepolyfill/index.html" title="Mobify.js Picture Polyfill Example">Picture Polyfill</a> on This image</h2>
        <picture>
            <source src="img/sample-thumb.jpeg" class="img-responsive">
            <source src="img/sample-thumb-300.jpeg" media="(min-width: 450px)" class="img-responsive">
            <source src="img/sample-thumb-600.jpeg" media="(min-width: 600px)" class="img-responsive">
            <source src="img/sample-thumb.jpeg" media="(min-width: 1000px)" class="img-responsive">
            <img src="img/sample-thumb.jpeg" class="img-responsive">
        </picture>
      </div>
      <div class="col-md-6">
        <h2 class="delta">Using <a href="http://cdn.mobify.com/mobifyjs/examples/capturing-picturepolyfill/index.html" title="Mobify.js Picture Polyfill Example">Picture Resizer</a> on This image</h2>
        <img class="img-responsive" src="img/sample-thumb.jpeg">
      </div>
    </div>

    <div class="row flowtype-components">
      <!-- FitText Example -->
      <div class="col-md-12">
        <h2 class="mega mega-type">Title with FitText.js</h2>
        <p><a href="http://fittextjs.com" title="Fittext - a plugin for inflating web type"><strong>FitText.js</strong></a> applied on above title to look a like on every devices.</p>
      </div>
      <!-- Lazy Loading Example -->
      <div class="col-md-6">
        <h2 class="delta mega-type">Lazy Loading Example</h2>
        <img class="img-responsive" src="../img/ajax.gif" alt="" data-echo="../img/mobile-dev-snap.jpg">
      </div>
      <!-- Lazy Loading And PictureFill example -->
      <div class="col-md-6">
      <h2 class="delta mega-type">
        Lazy load with picture fill
      </h2>

        <picture>
            <source src="../img/mobile-dev-snap-large.jpg" class="img-responsive">
            <source src="../img/mobile-dev-snap-mobile.jpg" media="(min-width: 450px)" class="img-responsive">
            <source src="../img/mobile-dev-snap-tab.jpg" media="(min-width: 600px)" class="img-responsive">
            <source src="../img/mobile-dev-snap-mobile-notebook.jpg" media="(min-width: 1000px)" class="img-responsive">
            <source src="../img/mobile-dev-snap-large.jpg" media="(min-width: 1200px)" class="img-responsive">
            <img class="img-responsive" src="../img/ajax.gif" alt="" data-echo="../img/mobile-dev-snap-notebook.jpg">
        </picture>
      </div>
    </div>
  </article>
</section>
