---
layout: default
title: Typography
---
<!-- Typography Container -->
<section class="container">
  <div class="row">
    <header class="col-md-12">
      <h1 class="title-page">Better Typography</h1>
      <p>Readable typography styles using <a href="http://typeplate.com" title="Typography starter kit"><b>Typeplate</b></a> to give rich reading experiences to users.</p>
    </header>
  </div>
  <article role="main">
    <div class="row">
      <div class="col-md-5">
        <header>
          <h1 class="gamma section-title">Heading Styles</h1>
          <p>Style example of different heading tags from <strong>h1-h6</strong></p>
          <hr>
        </header>
        <h1>h1. Heading</h1>
        <h2>h2. Heading Two</h2>
        <h3 class="ampersand">Heading Ampersand</h3>
        <h4>h4. Heading <small>Small</small> Four</h4>
        <h5>h5. Heading <strong>Strong</strong> Five</h5>
        <h6>h6. Heading Six</h6>
      </div>
      <div class="col-md-7">
        <h1 class="gamma section-title">Basic Components</h1>
        <p>Example of some basic ocmponents</p>
        <hr>
        <h2 class="delta">Indenting</h2>
        <p>I crawled out almost immediately, and crouched, my feet still in the water, under a clump of furze. The horse lay motionless (his neck was broken, poor brute!) and by the lightning flashes I saw the black bulk of the overturned dog cart and the silhouette of the wheel still spinning slowly.</p>
        <p>The horse lay motionless (his neck was broken, poor brute!) and by the lightning flashes I saw the black bulk of the overturned dog cart and the silhoue</p>
        <p>This is a sample text inside <abbr title="paragraph tag">p</abbr> tag with <i>abbr</i>.</p>
      </div>
    </div>
  </article>
</section>
